.head th {
  text-align: left;
  padding-block: 1rem;
  border-right: 1px solid black;
}

.table {
  border-collapse: collapse;
  margin: 10px;
}

.table th,
.table td {
  border: 1px solid #ccc;
}

.description-colum {
  width: 70%;
}

.name-colum {
  width: 10%;
}

.table-div {
  width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
