*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 5rem;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 17px;
}

.mission-link {
  border-right: 1px solid black;
  padding-right: 20px;
}

